.title{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    position: relative;
    top: 15vh;
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: 30px;
}
.subTitle{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15vh;
    font-size: 25px;
}
.btn_group{
    position: relative;
    left: 10vw;
    top: 15vh;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20vw;
}
.textArea{
    margin: auto;
    position: relative;
    top: 15vh;
    width: 80%;
    border: 2px solid black;
    border-radius: 12px;
}
.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sum_btn{
    position: relative;
    top: 17vh;
    width: 80%;
}
.result_label{
    position: relative;
    top: 17vh;
    font-size: 20px;
    font-weight: bold;
    left: 10vw;
    margin-bottom: 3vh;
}
.slider_container{
    position: relative;
    top: 15vh;
    left: 9vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reset_btn{
    position: relative;
    top: 15vh;
    left: 35vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.tag-label{
    position: relative;
    top: 17vh;
    font-size: 20px;
    font-weight: bold;
    left: 10vw;
}
.key-list{
    position: relative;
    top: 17vh;
    font-size: 20px;
    left: 10vw;
    margin-bottom: 12px;
}
.tag{
    border: 2px solid black;
    border-radius: 12px;
    font-size: 12px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 12px;
}