.login-header {
  margin-bottom: 40px;
  text-align: center;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 30vw;
  border: 2px solid black;
  border-radius: 12px;
}
.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.txtInput {
  width: 26vw;
  margin: auto;
}

.logo {
  width: 180px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}
.btn-wrapper{
  display: flex;
  align-items: center;
}
.login-button {
  width: 25vw;
  margin: auto;
}

.registerLink {
  position: relative;
  top: 20px;
  text-align: center;
  text-decoration: none;
}

.invalidText {
  color: red;
}
.profile_logo {
  width: 100%;
}

.logo_name {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}
