.register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 30vw;
  border: 2px solid black;
  border-radius: 12px;
}

.invalidText {
  color: red;
}

.wrapper{
  display: flex;
  align-items: center;
}

.register-button{
  width: 26vw;
  margin: auto;
}

.txtName{
  width: 12vw;
  margin: auto;
}
